table.formgroup {
width: auto;
margin: 0;
clear: both;
}

table.formgroup tr td {
padding-left: 0px;
padding-right: 5px;
}

table.formgroup tr td div.form-item{
margin-top: 0px;
margin-bottom: 5px;
}

table.stormtimetracking_block tr td {
width: auto;
}

tbody {
border:none !important;
}

th.storm_list_operations {
text-align: right;
white-space: nowrap;
padding: 0.3em 0.5em;
}

td.storm_list_operations {
text-align: right;
white-space: nowrap;
}

div.storm_popup {
display:none;
z-index: 100;
border: 1px solid black;
background-color: #fff;
}

div.storm_popup_inner {
text-align: center;
}

div.storm_popup_inner form div div.form-item {
margin: 0;
}

div.storm_popup_inner form div input.form-submit {
margin: 5px 0 0 0;
}

div.storm_popup_title {
float: left;
text-align: center;
color: #fff;
width: 100%;
background-color: #5294C1;
}

div.storm_popup_inner {
clear: both;
}

div.storm_list_form_report {
display:none;
width: 0px;
height: 0px;
}

div.storm_quick_shortcuts {
clear: both;
}

ul.storm_quick_shortcuts {
list-style-type: none;
margin: 0;
}

ul.storm_quick_shortcuts li {
background: transparent;
background-color: #5294C1;
display: inline;
float: left;
padding: 0;
margin: 0 1pt 1pt 0;
}

ul.storm_quick_shortcuts li a {
display: block;
width: 20px;
height: 20px;
text-align: center;
font-weight: bold;
color: #ffffff;
}
