table.formgroup {
  width: auto;
  margin: 0;
}

table.formgroup tr td {
  padding-left: 0px;
  padding-right: 5px;
}

table.formgroup tr td div.form-item{
  margin-top: 0px;
  margin-bottom: 5px;
}

table.stormtimetracking_block tr td {
  width: auto;
}

tbody {
  border:none !important;
}

th.storm_list_operations {
  text-align: right;
  white-space: nowrap;
  padding: 0.3em 0.5em;
}
td.storm_list_operations {
  text-align: right;
  white-space: nowrap;
}
